/target/
/.vscode/
**/*.rs.bk
dist/
tmp/
hulc_tests/target/**
hulc_tests/**/*.json
hulc_tests/**/*.png
hulc_tests/**/Documentacion/*
perf.data*
callgrind*
flamegraph*
*.ctehexml
*.log
*.json
*.data
*.svg
*.ods
*.txt
*.pdf
**/zcraddata.json
convertdb/dhat.out.0
convertdb/massif.out.0
convertdb/hulcdb.rs